// color
.primary-color {
  color: $primary;
};
.primary-dark-color {
  color: $primary-dark;
}
.primary-light-color {
  color: $primary-light;
}
.secondary-color {
  color: $secondary;
}

.bg-primary-color {
  background-color: $primary;
};
.bg-primary-dark-color {
  background-: $primary-dark;
}
.bg-primary-light-color {
  background-: $primary-light;
}
.bg-secondary-color {
  background-: $secondary;
}
