// colors
$primary: #496146;
$primary-dark: #425752;
$primary-light: #A5BB94;
$secondary: #E3EAE2;

// font
$font-family-base: "Microsoft JhengHei", AdobeHebrew-Regular, sans-serif;
$font-family-rage: RageItalic, sans-serif;
$font-family-mingstd: AdobeMingStd-Light, sans-serif;

$font-size-xs: 0.625rem;  // 10
$font-size-sm: 0.75rem;   // 12
$font-size-base: 1rem;    // 16
$font-size-md: 1.125rem;  // 18
$font-size-lg: 1.5rem;    // 24
$font-size-xl: 1.625rem;  // 26
