.success {
  &-text {
    letter-spacing: 7.38px;
  }

  &-title {
    font-size: 110px;
    font-family: $font-family-rage;
    letter-spacing: 17.6px;
    transform: translateY(-33%);
  }

  &-card {
    border: solid 1px $primary-light;
    font-family: "Microsoft JhengHei", sans-serif;

    &-title {
      color: #707070;
      letter-spacing: 4.16px;
    }

    &-list {
      border-color: $primary-light;
    }

    &-remind {
      border: solid 1px $primary-light;
      background-color: $secondary;
      font-family: $font-family-base;
    }
  }
}
